[submodule "OCA/social"]
	path = OCA/social
	url = git@github.com:OCA/social.git
	branch = 15.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 15.0

[submodule "OCA/hr-expense"]
	path = OCA/hr-expense
	url = git@github.com:OCA/hr-expense.git
	branch = 15.0
